# ignore nfl big data bowl files
nfl-big-data-bowl/

# ignore pbp 2010-2020 data
nfl_pbp_2010-2020.csv

# ignore jupyter checkpoints
.ipynb_checkpoints/

# ignore Literature
Literature/

# ignore images or animations
*.mp4